{% extends 'barter_and_inventory/layout.html' %}
{% load static %}
{% load barter_and_inventory_extras %}
{% block page_css_before_app %}
	<link rel="stylesheet" type="text/css" href="{% static "css/dataTables.bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/select2.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-datetimepicker.min.css" %}">
{% endblock %}
{% block page_css_after_app %}

{% endblock %}

{% block content %}
<div class="modal-header">
    <h4 class="modal-title">Delete Offer</h4>
</div>
<div class="modal-body">
    <form method="POST" action="{% url 'barter_and_inventory:delete_offer' object.pk %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-12 col-sm-6">
                <p>Are you sure you want to delete "{{ object }}"?</p>
            </div>
        </div>
        <div class="m-t-20 text-center">
            <button type="submit" class="btn btn-danger">Delete</button>
        </div>
    </form>
</div>

{% endblock %}

{% block page_js_before_app %}
    <script type="text/javascript" src="{% static "js/jquery.dataTables.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/dataTables.bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.slimscroll.js" %}"></script>
    <script type="text/javascript" src="{% static "js/select2.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/moment.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap-datetimepicker.min.js" %}"></script>
{% endblock %}