{% extends 'barter_and_inventory/layout.html' %}
{% load static %}
{% load barter_and_inventory_extras %}
{% block page_css_before_app %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "css/select2.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-datetimepicker.min.css" %}">
{% endblock %}
{% block page_css_after_app %}

{% endblock %}
{% block content %}
    <div class="content container-fluid">
        <div class="row">
            <div class="col-xs-8">
                <h4 class="page-title">{{ object.offer_title }}</h4>
            </div>
            <div class="col-sm-4 text-right m-b-30">

            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <div class="panel">
                    <div class="panel-body">
                        <div class="project-title">
                            <h5 class="panel-title">{{ object.offer_title }}</h5>
                            <small class="block text-ellipsis m-b-15">
                                <span class="text-xs">{{ object.bid_offer.count }}</span> <span class="text-muted">Total Bids </span></small>
                        </div>
                        <p>{{ object.offer_description }}</p>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-body">
                        <h5 class="panel-title m-b-20">Products Included</h5>
                        <div class="row">
                            {% for item in object.offered_products.all %}
                                <div class="col-xs-12">
                                    <div class="card-box" style="border: 1px solid #ff9b44;">
                                        <div class="card-header" style="display: flex; flex-direction: row; justify-content: space-between;">
                                            <div><strong>{{ item.product.product_title }}</strong></div>
                                            <div style="float: right"><strong>Quantity: </strong>{{ item.product_quantity }}</div>
                                        </div>
                                        <div>
                                            <hr>
                                        </div>
                                        <a class="btn btn-sm btn-info" style="margin-bottom: 20px;" onclick="toggleProductDetails('{{ item.product.pk }}');">
                                            Show Details
                                        </a>
                                        <div id="product_details_{{ item.product.pk }}" style="display: none;">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <p><strong>Description</strong></p>
                                                    <p>{{ item.product.product_description }}</p>
                                                </div>
                                            </div>
                                            <p class=""><strong>Product Photos</strong></p>
                                            <div class="row">
                                                {% for pp in item.product.product_photos.all %}
                                                    <div class="col-md-3 col-sm-6">
                                                        <div class="thumbnail">
                                                            <div class="thumb">
                                                                <img src="{{ pp.product_photo.url }}" class="img-responsive" alt="{{ pp.product_photo }}" >
                                                            </div>
                                                            <div class="caption text-center" style="overflow-wrap: break-word;">
                                                                 {{ pp.product_photo }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% if forloop.counter|divisibleby:4 %}
                                                        </div>
                                                        <div class="row">
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="project-task">
                    <div class="tabbable">
                        <ul class="nav nav-tabs nav-tabs-top nav-justified m-b-0">
                            <li class="active"><a href="#all_tasks" data-toggle="tab" aria-expanded="true">Bids On This Offer</a></li>
                            <li><a href="#pending_tasks" data-toggle="tab" aria-expanded="false">Bids Place With This Offer</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="all_tasks">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table table-striped custom-table m-b-0 datatable">
                                                <thead>
                                                    <tr>
                                                        <th>Title</th>
                                                        <th>Estimated Cost</th>
                                                        <th class="text-center">Included Cash</th>
                                                        <th>Placed Date</th>
                                                        <th>Bidding User</th>
                                                        <th class="text-right">Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for bid in object.against_offer.all %}
                                                        <tr>
                                                            <td>
                                                                <h2>
                                                                    <a href="{% url 'barter_and_inventory:view_offer_detail' bid.offer.pk %}">
                                                                    {{ bid.offer.offer_title}}
                                                                    <span>
                                                                        {{ bid.offer.offered_products.count }} Products Included
                                                                    </span>
                                                                </a></h2>
                                                            </td>
                                                            <td>
                                                                <h2><a href="#">{{ bid.offer.estimated_cost}}
                                                                    <span>{{ bid.offer.estimated_cost_currency }}</span>
                                                                </a></h2>
                                                            </td>
                                                            <td>
                                                                <h2>
                                                                    {% if bid.offer.includes_cash %}
                                                                        <a href="#">{{ bid.offer.cash_in_hand}}
                                                                            <span>{{ bid.offer.cash_in_hand_currency }}</span>
                                                                        </a>
                                                                    {% else %}
                                                                        N/A
                                                                    {% endif %}
                                                                </h2>
                                                            </td>
                                                            <td>{{ bid.offer.created_at }}</td>
                                                            <td>
                                                                {{ bid.created_by.get_full_name }}
                                                            </td>
                                                            <td class="text-right">
                                                                {% if bid.offer.offer_status != "CLOSED" %}
                                                                    <form method="POST" id="accept_offer_form_{{ bid.offer.pk }}" action="{% url 'barter_and_inventory:accept_offer' %}">
                                                                        {% csrf_token %}
                                                                        <input type="hidden" value="{{ bid.bid_offer.pk }}" name="exchanged_with">
                                                                        <input type="hidden" value="{{ bid.offer.pk }}" name="offer">
                                                                        <button type="button" onclick="acceptOffer({{ bid.offer.pk }})" class="btn btn-success">Accept Offer</button>
                                                                    </form>
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="pending_tasks">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table table-striped custom-table m-b-0 datatable">
                                                <thead>
                                                    <tr>
                                                        <th>Title</th>
                                                        <th>Estimated Cost</th>
                                                        <th class="text-center">Included Cash</th>
                                                        <th>Placed Date</th>
                                                        <th>Offered Byr</th>
                                                        <th class="text-right">Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for bid in object.bid_offer.all %}
                                                        <tr>
                                                            <td>
                                                                <h2>
                                                                    <a href="{% url 'barter_and_inventory:view_offer_detail' bid.offer.pk %}">
                                                                    {{ bid.offer.offer_title}}
                                                                    <span>
                                                                        {{ bid.offer.offered_products.count }} Products Included
                                                                    </span>
                                                                </a></h2>
                                                            </td>
                                                            <td>
                                                                <h2><a href="#">{{ bid.offer.estimated_cost}}
                                                                    <span>{{ bid.offer.estimated_cost_currency }}</span>
                                                                </a></h2>
                                                            </td>
                                                            <td>
                                                                <h2>
                                                                    {% if bid.offer.includes_cash %}
                                                                        <a href="#">{{ bid.offer.cash_in_hand}}
                                                                            <span>{{ bid.offer.cash_in_hand_currency }}</span>
                                                                        </a>
                                                                    {% else %}
                                                                        N/A
                                                                    {% endif %}
                                                                </h2>
                                                            </td>
                                                            <td>{{ bid.offer.created_at }}</td>
                                                            <td>
                                                                {{ bid.created_by.get_full_name }}
                                                            </td>
                                                            <td class="text-right">
                                                                {% if bid.offer.offer_status != "CLOSED" %}
                                                                    <form id="withdraw_form_{{ bid.pk }}" method="POST" action="{% url 'barter_and_inventory:withdraw_bid' %}">
                                                                        {% csrf_token %}
                                                                        <input type="hidden" name="bid_id" value="{{ bid.pk }}">
                                                                        <button type="button" onclick="withdrawYourBid({{ bid.pk }});" class="btn btn-danger">Withdraw Your Bid</button>
                                                                    </form>
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="dash-widget clearfix card-box">
                    <span class="dash-widget-icon"><i class="fa fa-usd" aria-hidden="true"></i></span>
                    <div class="dash-widget-info">
                        <h3>{{ object.estimated_cost }} {{ object.estimated_cost_currency }}</h3>
                        {% if object.includes_cash %}
                            <span style="font-size: 13px"> Includes Cash: {{ object.cash_in_hand }} {{ object.cash_in_hand_currency }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel">
                    <div class="panel-body">
                        <h6 class="panel-title m-b-15">Offer details</h6>
                        <table class="table table-striped table-border">
                            <tbody>
                                <tr>
                                    <td>Products Included:</td>
                                    <td class="text-right">{{ object.offered_products.count }}</td>
                                </tr>
                                <tr>
                                    <td>Created:</td>
                                    <td class="text-right">{{ object.created_at|date:"d/m/Y H:i" }}</td>
                                </tr>
                                <tr>
                                    <td>Last Update:</td>
                                    <td class="text-right">{{ object.created_at|date:"d/m/Y H:i" }}</td>
                                </tr>
                                <tr>
                                    <td>Created by:</td>
                                    <td class="text-right"><a href="#">{{ object.created_by.get_full_name }}</a></td>
                                </tr>
                                <tr>
                                    <td>Status:</td>
                                    <td class="text-right">
                                        <span class="label label-success-border">{{ object.offer_status }}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Shipment Method:</td>
                                    <td class="text-right">
                                        <a class="btn btn-white btn-sm rounded dropdown-toggle"  aria-expanded="false">
                                            <i class="fa fa-dot-circle-o text-info"></i> {{ object.shipment_method }}
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Shipment Address:</td>
                                    <td class="text-right">
                                        {{ object.shipment_address }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                {% if object.exchanged_with %}
                    <div class="panel">
                        <div class="panel-body">
                            <h6 class="panel-title m-b-15">Exchanged Offer Details</h6>
                            <table class="table table-striped table-border">
                                <tbody>
                                    <tr>
                                        <td>Estimated Cost:</td>
                                        <td class="text-right">{{ object.exchanged_with.estimated_cost }}  {{ object.exchanged_with.estimated_cost_currency }}</td>
                                    </tr>

                                    <tr>
                                        <td>Total Products Included:</td>
                                        <td class="text-right">{{ object.exchanged_with.offered_products.count }}</td>
                                    </tr>
                                    {% if object.exchanged_with.includes_cash %}
                                        <tr>
                                            <td>Includes Cash:</td>
                                            <td class="text-right">{{ object.exchanged_with.cash_in_hand }}  {{ object.exchanged_with.cash_in_hand_currency }}</td>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <td>Exchange Date:</td>
                                        <td class="text-right">{{ object.exchanged_with.exchange_date|date:"d/m/Y H:i" }}</td>
                                    </tr>
                                    <tr>
                                        <td>Created by:</td>
                                        <td class="text-right"><a href="#">{{ object.exchanged_with.created_by.get_full_name }}</a></td>
                                    </tr>
                                    <tr>
                                        <td>Shipment Method:</td>
                                        <td class="text-right">
                                            <a class="btn btn-white btn-sm rounded dropdown-toggle"  aria-expanded="false">
                                                <i class="fa fa-dot-circle-o text-info"></i> {{ object.shipment_method }}
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Shipment Address:</td>
                                        <td class="text-right">
                                            {{ object.shipment_address }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="fm-modal-grid" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="modal-content modal-lg" id="offer_delete_modal_content">
                <div class="modal-header">
                    <h4 class="modal-title">Accept Offer</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <p>Are you sure you want to accept this offer?</p>
                        </div>
                    </div>
                    <div class="m-t-20 text-center">
                        <button type="button" id="accept_offer_modal_btn" class="btn btn-lg btn-success">Accept Offer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="fm-modal-grid-delete" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="modal-content modal-lg" id="offer_delete_modal_content">
                <div class="modal-header">
                    <h4 class="modal-title">Withdraw Your Bid</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <p>Are you sure you want to withdraw your bid?</p>
                        </div>
                    </div>
                    <div class="m-t-20 text-center">
                        <button type="button" id="withdraw_offer_modal_btn" class="btn btn-lg btn-danger">Withdraw Your Bid</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_js_before_app %}
     <script type="text/javascript" src="{% static "js/jquery.dataTables.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/dataTables.bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.slimscroll.js" %}"></script>
    <script type="text/javascript" src="{% static "js/select2.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/moment.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap-datetimepicker.min.js" %}"></script>
{% endblock %}

{% block page_js_after_app %}
<script>
    $(function (){
        $('#accept_offer_modal_btn').on('click', function (e){
            let form_id = $('#accept_offer_modal_btn').data('form-id');
            console.log("form_id", form_id);
            $(form_id).submit();
        });
        $('#withdraw_offer_modal_btn').on('click', function (e){
            let form_id = $('#withdraw_offer_modal_btn').data('form-id');
            console.log("form_id withdraw", form_id);
            $(form_id).submit();
        });
    });
    function toggleProductDetails(product_id){
        $("#product_details_"+product_id).toggle();
    }
    function withdrawYourBid(bid_id){
        let withdraw_form = $('#withdraw_form_'+bid_id);
        console.log("withdraw_form", withdraw_form);
        $('#withdraw_offer_modal_btn').data('form-id', '#withdraw_form_'+bid_id);
        $("#fm-modal-grid-delete").modal('show')
    }
    function acceptOffer(offer_id){
        let accept_offer_form = $('#accept_offer_form_'+offer_id);
        console.log("accept_offer_form", accept_offer_form);
        $('#accept_offer_modal_btn').data('form-id', '#accept_offer_form_'+offer_id);
        $("#fm-modal-grid").modal('show');
    }
</script>
{% endblock %}