{% extends 'barter_and_inventory/layout.html' %}
{% load static %}
{% load barter_and_inventory_extras %}
{% block page_css_before_app %}

{% endblock %}
{% block page_css_after_app %}

{% endblock %}

{% block content %}
    <div class="content container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h4 class="page-title">Change Password</h4>
                <form action="{% url 'barter_and_inventory:change_password' %}" method="POST">
                    {% csrf_token %}
                    {% if form.errors %}
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <div class="alert alert-danger">
                                            {{ error|escape }}
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        {{ error|escape }}
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <div class="form-group">
                                <label>{{ form.old_password.label }}</label>
                                {{ form.old_password }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label>{{ form.new_password1.label }}</label>
                                {{ form.new_password1 }}
                            </div>
                        </div>
                        <div class="col-xs-12  col-sm-6">
                            <div class="form-group">
                                <label>{{ form.new_password2.label }}</label>
                                {{ form.new_password2 }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center m-t-20">
                            <button type="submit" class="btn btn-primary">Update Password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_js_before_app %}
    <script type="text/javascript" src="{% static "js/jquery.slimscroll.js" %}"></script>
{% endblock %}

{% block page_js_after_app %}

{% endblock %}