{% extends 'barter_and_inventory/account_base.html' %}
{% load static %}

{% block content %}
    <div class="account-page">
        <div class="container">
            <h3 class="account-title">Management Login</h3>
            <div class="account-box">
                <div class="account-wrapper">
                    <div class="account-logo">
                        <a href="{% url 'barter_and_inventory:login' %}"><img src="{% static "img/logo2.png"  %}" alt="Focus Technologies"></a>
                    </div>
                    <form method="post" action="{% url 'barter_and_inventory:reset_password' %}">
                        {% csrf_token %}
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        {{ error|escape }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="form-group form-focus">
                            <label class="control-label">{{ form.email.label}}</label>
                            {{ form.email }}
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-primary btn-block account-btn" type="submit">Reset Password</button>
                        </div>
                        <div class="text-center">
                            <a href="{% url 'barter_and_inventory:login' %}">Back to Login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

