{% extends 'barter_and_inventory/account_base.html' %}
{% load static %}
{% block page_css_before_app %}

{% endblock %}
{% block page_css_after_app %}

{% endblock %}

{% block content %}
    <div class="account-page">
        <div class="container">
            <h3 class="account-title">Password Reset Email Sent</h3>
            <div class="account-box">
                <div class="account-wrapper">
                    <div class="account-logo">
                        <a href="/"><img src="{% static "img/logo2.png" %}" alt="Focus Technologies"></a>
                    </div>
                    <div class="alert alert-info">
                        We've sent an email to your provided email. Please click the link in email to reset your password.
                    </div>
                    <div class="text-center">
                        <a href="{% url 'barter_and_inventory:login' %}">Already have an account? Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_js_before_app %}

{% endblock %}

{% block page_js_after_app %}

{% endblock %}
